recursive-include fastcountvectorizer *.h
recursive-include fastcountvectorizer *.hpp
recursive-include fastcountvectorizer *.cpp
include asv.conf.json
recursive-include benchmarks *.py
global-include CMakeLists.txt
global-include .clang-format
global-include requirements.txt
include README.md
include LICENSE
include tox.ini
prune .tox
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.bat
recursive-include docs Makefile
exclude .readthedocs.yml
